<section class="listing">
    <div class="card" (click)="openDialog(housingLocation.id)">
    <img class="card-img" [src]="housingLocation.imageUrl" alt="Exterior photo of {{housingLocation.title}}">
    <h2 class="listing-heading">{{ housingLocation.title }}</h2>
    <p class="card-title">{{ housingLocation.instructor}}</p>
    <!-- <p class="card-description">Course Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>     -->
    <!-- <a class="enroll-btn" [routerLink]="['/details', housingLocation.id]">Learn More</a> -->
    <!-- <a class="enroll-btn" (click)="openDialog()">Learn More</a> -->
    <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
    <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
    <!-- <!- <button mat-button (click)="openDialog()">Open dialog</button> -->

</div>
</section>